.choseFile{
    margin-top: 15px;
}
.star{
    width: 5px;
    margin-left: 3px;
}
 .labelFile{
   color: grey;
   font-weight: 400 !important;
}
.fileChose{
    padding: 7px;
    font-size: 14px;
    margin-left: -5px;
    font-weight: 400;
}
.importBtn{
    background-color: #00a8ff;
    border-color: #00a8ff;
    border-radius: 4px;
    color: white;
    border: none;
    padding: 5px 35px;
    margin-top: 10px;
}
.tileSample{
    font-weight: 300;
    margin-top: 35px;
}
.download{
    color: #0082c6;
    font-size: 14px;
    margin: 30px 2px 15px 0;
}
